--------------------------------------------------------
*         _____       __  __      _____
*        |  __ \     |  \/  |    |_   _|
*        | |  | | ___| \  / | ___  | | __  __
*        | |  | |/ __| |\/| |/ __| | | \ \/ /
*        | |__| | (__| |  | | (__ _| |_ >  <
*        |_____/ \___|_|  |_|\___|_____/_/\_\
*
* GitHub URL          : https://github.com/DcMcIx/awx
# Hostname            : {{ ansible_hostname }}
# VM IPV4             : {{ ansible_default_ipv4['address']}}
# OS Type and version : {% if ansible_virtualization_type != 'lxc' %}{{ ansible_lsb['description'] }}{% else %}{{ ansible_distribution }} {{ ansible_distribution_major_version }} {% endif %} 
# Virtualisation Type : {{ ansible_virtualization_type }}
# Python Version      : {{ ansible_python_version }} "{{ ansible_python['executable']}}"
--------------------------------------------------------